 *~
.DS_Store
*.swp
*.bak
*.orig
coverage
db/xapit/*
db/*
public/stylesheets/compiled/
data/*.dat
base_packaged.*
.directory
.bundle
log/*.log
log/*.*
tmp/**/*
vendor/cache/*.gem
public/javascripts/login_packaged.js
public/javascripts/show_packaged.js
public/javascripts/jsMath/fonts/
public/javascripts/packaged/
public/stylesheets/packaged/
public/packages/
public/dev-assets/
.sass-cache
*.kdev4
.redcar
.idea
tunnlr.yml
.elasticbeanstalk/
configure_env.sh
app/**/**/**/*.db
