
<% content_for :for_head do %>
<title>Bengal Tiger : Official Website of Nawab Wajid Ali Shah Zoological Garden</title>
 <style> .topcontainer {  background: url("../images/headerbgreen.png") center center no-repeat;}</style>
<% end %>
	
<body>
<!--/reviews-->
	<div id="review" class="reviews" style="margin-top: 5%">
		<div class="container">
		<div class="w3_tittle second two"><h3 class="agile-tittle two gal">Bengal Tiger</h3> <div class="line-style second"><span class="second"></span></div></div>
		    <div class="w3-agile-top-info">	
						<div class="col-md-6 test-monials">
				<!--//screen-gallery-->
						<div class="sreen-gallery-cursual">
							
						       <div id="owl-demo" class="owl-carousel">
					                 <div class="item-owl">
					                	<div class="test-review">
										<!-- <p><i class="fa fa-quote-left" aria-hidden="true"></i> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<i class="fa fa-quote-right" aria-hidden="true"></i> </p> -->
											<div class="img-agile">
												<img src="images/tiger1.jpg" class="img-responsive" alt=""/>
											</div>
											  <!-- <h6>Michael Paul</h6> -->
					                	    </div>
					                </div>
					                 <div class="item-owl">
					                	<div class="test-review">
										 <!-- <p> <i class="fa fa-quote-left" aria-hidden="true"></i> Polite sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<i class="fa fa-quote-right" aria-hidden="true"></i> </p> -->
						                	<div class="img-agile">
											<img src="images/tiger2.jpg" class="img-responsive" alt=""/>
											</div>
											<!-- <h6>Riya Allen</h6> -->
					                	</div>
					                </div>
					                 <div class="item-owl">
					                	<div class="test-review">
										     <!-- <p><i class="fa fa-quote-left" aria-hidden="true"></i> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<i class="fa fa-quote-right" aria-hidden="true"></i> </p> -->
						                	<div class="img-agile">
											<img src="images/tiger3.jpg" class="img-responsive" alt=""/>
											</div>
											<!-- <h6>Michael Paul</h6> -->
					                	</div>
					                </div>
				              </div>
						<!--//screen-gallery-->
					</div>
				</div>
				<div class="col-md-6 w3_about_grid_left">
					<!-- <h6>Integer Lorem ipsum dolor sit amet </h6> -->
					<p>The Bengal tiger is the most numerous of the tiger subspecies. By 2011, the total population was estimated at fewer than 2,500 individuals with a decreasing trend.</p>
					<div class="panel-group about_panel" id="accordion" role="tablist" aria-multiselectable="true">
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
						  <h4 class="panel-title asd">
							<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Description
							</a>
						  </h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						  <div class="panel-body panel_text">
							The tiger (Panthera tigris) is the largest cat species, most recognizable for their pattern of dark vertical stripes on reddish-orange fur with a lighter underside. The species is classified in the genus Panthera with the lion, leopard, jaguar, and snow leopard. Tigers are apex predators, primarily preying on ungulates such as deer and bovids. They are territorial and generally solitary but social animals, often requiring large contiguous areas of habitat that support their prey requirements. This, coupled with the fact that they are indigenous to some of the more densely populated places on Earth, has caused significant conflicts with humans.
						  </div>
						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
						  <h4 class="panel-title asd">
							<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Status in the world
							</a>
						  </h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						   <div class="panel-body panel_text">
							Tigers once ranged widely across eastern Eurasia, from the Black Sea in the west, to the Indian Ocean in the south, and from Kolyma to Sumatra in the east. Over the past 100 years, they have lost 93% of their historic range, and have been extirpated from Western and Central Asia, from the islands of Java and Bali, and from large areas of Southeast, Southern, and Eastern Asia. Today, they range from the Siberian taiga to open grasslands and tropical mangrove swamps. The remaining six tiger subspecies have been classified as endangered by the International Union for Conservation of Nature (IUCN). The global population in the wild is estimated to number between 3,062 and 3,948 individuals, down from around 100,000 at the start of the 20th century, with most remaining populations occurring in small pockets isolated from each other, of which about 2,000 exist on the Indian subcontinent.
						  </div>
						</div>
					  </div>
					  <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
						  <h4 class="panel-title asd">
							<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Conservation Program
							</a>
						  </h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						   <div class="panel-body panel_text">
							rom 1973, India's Project Tiger, started by Indira Gandhi, established over 25 tiger reserves in reclaimed land, where human development was forbidden. The project was credited with tripling the number of wild Bengal tigers from some 1,200 in 1973 to over 3,500 in the 1990s, but a 2007 census showed that numbers had dropped back to about 1,400 tigers because of poaching.[155] Following the report, the Indian government pledged $153 million to the initiative, set up measures to combat poaching, promised funds to relocate up to 200,000 villagers in order to reduce human-tiger interactions,[156] and set up eight new tiger reserves.[157] India also reintroduced tigers to the Sariska Tiger Reserve[158] and by 2009 it was claimed that poaching had been effectively countered at Ranthambore National Park.[159] A 2014 census estimated a population of 2,226, a 30% increase since 2011.
						  </div>
						</div>
					  </div>

					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!--//reviews-->

<!-- work -->
	<div class="work" id="about" style="margin-bottom: 10%">
		<div class="agileits_works-top">
				<!-- <div class="col-md-6 agileits_works-grid">
					<img src="images/ab.jpg" alt=" " class="img-responsive" />
				</div> -->
				<div class="col-md-12 agileits_works-grid two">
				 
				    <div class="wthree-text">
					   <!-- <h4>Zoo Animals</h4> -->
					  <!-- <div class="w3_tittle"> <div class="line-style"><span></span></div></div> -->
					   <!-- <p>Established in the year 1921 to commemorate the visit of His Royal Highness, the Prince of Wales to Lucknow and was known as “The Prince of Wales Zoological Gardens”. Its name was changed to “Lucknow Prani Udyan” in 2001. Again, its name is changed to “Nawab Wazid Ali Shah Prani Udyan, Lucknow” in 2015. Situated in 29 hectares area in heart of the city, it houses around 1000 animals of more than 100 species. Around 11-12 lacs visitor visits zoo every year. </p> -->


					   <ul class="about-agile" style="background: rgba(0, 0, 0, 0.1);">
						<li style="font-size: 20px; "><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Other Zoo Animals</li>
						<!-- <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Professional approach</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Birds for sale</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Professional care</li> -->
					</ul>
					</div>
					
				</div>
				
		    <div class="clearfix"> </div>
		</div>
		
		<div class="agileits_work_grids">
			<ul id="flexiselDemo1">			
				<li>
					<div class="agileits_work_grid view view-sixth">
						<img src="images/h1.jpg" alt=" " class="img-responsive" />
						<div class="mask">
							<a href="#" class="info">Hippopotamus</a>
						</div>
					</div>
				</li>
				<li>
					<div class="agileits_work_grid view view-sixth">
						<img src="images/h2.jpg" alt=" " class="img-responsive" />
						<div class="mask">
							<a href="#" class="info">Rhinoceros</a>
						</div>
					</div>

				</li>
				<li>
					<div class="agileits_work_grid view view-sixth">
						<img src="images/h3.jpg" alt=" " class="img-responsive" />
						<div class="mask">
							<a href="#" class="info">Lion</a>
						</div>
					</div>
				</li>
				<li>
					<div class="agileits_work_grid view view-sixth">
						<img src="images/h4.jpg" alt=" " class="img-responsive" />
						<div class="mask">
							<a href="#" class="info">Deer</a>
						</div>
					</div>
				</li>
				<li>
					<div class="agileits_work_grid view view-sixth">
						<img src="images/h5.jpg" alt=" " class="img-responsive" />
						<div class="mask">
							<a href="#" class="info">Sloth Bear</a>
						</div>
					</div>
				</li><li>
					<div class="agileits_work_grid view view-sixth">
						<img src="images/h6.jpg" alt=" " class="img-responsive" />
						<div class="mask">
							<a href="#" class="info">Indian Elephant</a>
						</div>
					</div>
				</li><li>
					<div class="agileits_work_grid view view-sixth">
						<img src="images/h7.jpg" alt=" " class="img-responsive" />
						<div class="mask">
							<a href="#" class="info">White Tiger</a>
						</div>
					</div>
				</li>
			</ul>
			<div class="agileinfo_copy_right_right w3l_header_right">
				<div class="w3l-button" style="margin: 10px">
							<a href="#" class="hvr-underline-from-center">See All Animals</a>
				</div>
			</div>
	</div>
	</div>



	</body>
	</html>