<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<% content_for :for_head do %>
<title>Indian Exotic Animals</title>
 <style> .topcontainer {  background: url("../images/headerbgreen.png") center center no-repeat;}</style>
<% end %>	
<body>
		

<!-- 4NewBoxes -->
	<div class="gallery">
		<div class="container">
			<div class="col-md-3 BGListAnimalTitle">
				<h3>Indian Exotic Animals</h3>
			</div>
			<div class="col-md-12 BGListAnimalTitleCaptions">
				<h4>CARNIVORES -</h4>
			<h5>Endangered Species</h5>
			</div>
		</div>
		<div class="Events ContainerListAnimal">
		    <div class="w3-agile-top-info ListAnimal">	
				<!-- Testing -->
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="/animal_detial">
								<img src="images/a1.jpg" alt="" />	
							</a>
						</figure>
						<figcaption class ="fertigo-pro">
								<h3>Bengal Tiger</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a11.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>White Tiger</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a10.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Lion</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a10.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Wolf Indian</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a2.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Leopard/Panther</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a10.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Jackal</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a12.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Common Fox</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a6.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Himalayan Black Bear</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a6.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Sloth bear</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a13.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Leopard Cat</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a13.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Fishing Cat</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a13.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Palm Civet Cat</h3>
						</figcaption>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- Non-Endangered Species -->
		<div class="container">
			<div class="col-md-12 BGListAnimalTitleCaptions">
				<h4>CARNIVORES -</h4>
			<h5>Endangered Species</h5>
			</div>
		</div>
		<div class="Events ContainerListAnimal">
		    <div class="w3-agile-top-info ListAnimal">	
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a10.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Hybrid Lion</h3>
						</figcaption>
					</div>
				</div>
				
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a12.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Hyaena</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a13.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Jungle Cat</h3>
						</figcaption>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //Non-Endangered Species -->

	</div>
<!-- //4NewBoxes-->

<!-- HERBIVORES -->
	<div class="gallery">
		<div class="container">
			<div class="col-md-12 BGListAnimalTitleCaptions">
				<h4>HERBIVORES -</h4>
			<h5>Endangered Species</h5>
			</div>
		</div>
		<div class="Events ContainerListAnimal">
		    <div class="w3-agile-top-info ListAnimal">	
				<!-- Testing -->
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a1.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Black Buck</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a11.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Swamp Deer</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a10.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Chinkara</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a10.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Indian Rhino</h3>
						</figcaption>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- Non-Endangered Species -->
		<div class="container">
			<div class="col-md-12 BGListAnimalTitleCaptions">
				<h4>HERBIVORES -</h4>
			<h5>Non-Endangered Species</h5>
			</div>
		</div>
		<div class="Events ContainerListAnimal">
		    <div class="w3-agile-top-info ListAnimal">	
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a10.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Giraffe</h3>
						</figcaption>
					</div>
				</div>
				
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a12.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Hippopotamus</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a13.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Zebra </h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a13.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Spotted Deer</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a13.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Sambar Deer</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a13.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Spotted Deer</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a13.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Sambar Deer</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a13.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Barking Deer</h3>
						</figcaption>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //Non-Endangered Species -->

	</div>
<!-- //HERBIVORES-->

<!-- PRIMATES -->
	<div class="gallery">
		<div class="container">
			<div class="col-md-12 BGListAnimalTitleCaptions">
				<h4>PRIMATES -</h4>
			<h5>Endangered Species</h5>
			</div>
		</div>
		<div class="Events ContainerListAnimal">
		    <div class="w3-agile-top-info ListAnimal">	
				<!-- Testing -->
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a1.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Hoolock Gibbon</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a11.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Macaque Bonnet</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a10.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Macaque Stump Tailed</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a10.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Rhesus Monkey</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a10.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Common Langur</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a10.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Lion tailed Monkey</h3>
						</figcaption>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- Non-Endangered Species -->
		<div class="container">
			<div class="col-md-12 BGListAnimalTitleCaptions">
				<h4>PRIMATES -</h4>
			<h5>Non-Endangered Species</h5>
			</div>
		</div>
		<div class="Events ContainerListAnimal">
		    <div class="w3-agile-top-info ListAnimal">	
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a10.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Hamadryas baboon</h3>
						</figcaption>
					</div>
				</div>
				
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a12.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Japanese Monkey</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a13.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Chimpanzee</h3>
						</figcaption>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //Non-Endangered Species -->

	</div>
<!-- //PRIMATES-->

<!-- RODENTS -->
	<div class="gallery">
		<div class="container">
			<div class="col-md-12 BGListAnimalTitleCaptions">
				<h4>RODENTS -</h4>
			<h5>Endangered Species</h5>
			</div>
		</div>
		<div class="Events ContainerListAnimal">
		    <div class="w3-agile-top-info ListAnimal">	
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a10.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Indian Giant Squirrel</h3>
						</figcaption>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- Non-Endangered Species -->
		<div class="container">
			<div class="col-md-12 BGListAnimalTitleCaptions">
				<h4>RODENTS -</h4>
			<h5>Non-Endangered Species</h5>
			</div>
		</div>
		<div class="Events ContainerListAnimal">
		    <div class="w3-agile-top-info ListAnimal">	
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a10.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Flying Squirrel</h3>
						</figcaption>
					</div>
				</div>
				
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/a12.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Indian Porcupine</h3>
						</figcaption>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //Non-Endangered Species -->

	</div>


	</body>
	</html>