<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<% content_for :for_head do %>
<title>Aquarium</title>
 <style> .topcontainer {  background: url("../images/headerbgreen.png") center center no-repeat;}</style>
<% end %>	
	
<body>
		

<!-- 4NewBoxes -->
	<div class="gallery">
		<div class="container">
			<div class="col-md-3 BGListAnimalTitle">
				<h3>List of Fishes in Aquarium</h3>
			</div>
			<!-- <div class="col-md-12 BGListAnimalTitleCaptions">
				<h4>CARNIVORES -</h4>
			<h5>Endangered Species</h5>
			</div> -->
		</div>
		<div class="Events ContainerListAnimal">
		    <div class="w3-agile-top-info ListAnimal">
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Albino Tiger Shark</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Albino walking cat fish</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Allbino Red Tail</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Alligator gar</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Angel</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Black Widow Terata</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Blue Gourami</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Calico Gold</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Common Corp</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Common Gold</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Crocodile fish</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Fire Mouth</h3>
						</figcaption>
					</div>
				</div><div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Flowerhorn</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Golden Gourami</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Kissing Gourami</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Milan Corp</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Molly</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Mono Corp</h3>
						</figcaption>
					</div>
				</div><div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Oscar</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Paku</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Parrot Fish</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Rainbow Shark</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Red eye Terata</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Rosy Barb</h3>
						</figcaption>
					</div>
				</div><div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Scat</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Silver Dollar</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Tiger Barb</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Tiger Shark</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Tin Foil Barb</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Zebra Cichlid</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Zebra Danio</h3>
						</figcaption>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //4NewBoxes-->


	</body>
	</html>