<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<% content_for :for_head do %>
<title>Indian Exotic Birds</title>
 <style> .topcontainer {  background: url("../images/headerbgreen.png") center center no-repeat;}</style>
<% end %>	
	
<body>
		
<!-- 4NewBoxes -->
	<div class="gallery">
		<div class="container">
			<div class="col-md-3 BGListAnimalTitle">
				<h3>Indian Exotic Birds</h3>
			</div>
			<div class="col-md-12 BGListAnimalTitleCaptions">
				<!-- <h4>CARNIVORES -</h4> -->
			<h5>Endangered Species</h5>
			</div>
		</div>
		<div class="Events ContainerListAnimal">
		    <div class="w3-agile-top-info ListAnimal">	
				<!-- Testing -->
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Kalij pheasant</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>White peacock</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Hill Myna</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Indian Griffon Vulture </h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Spoon bill</h3>
						</figcaption>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- Non-Endangered Species -->
		<div class="container">
			<div class="col-md-12 BGListAnimalTitleCaptions">
				<!-- <h4>CARNIVORES -</h4> -->
			<h5>Non-Endangered Species</h5>
			</div>
		</div>
		<div class="Events ContainerListAnimal">
		    <div class="w3-agile-top-info ListAnimal">	
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Barheaded Goose</h3>
						</figcaption>
					</div>
				</div>
				
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>White Stork</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>White Necked Stork</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Black Necked Stork</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Grey Heron</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>White Ibis</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Common Crane</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Demoiselle Crane</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Sarus Crane</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Cockateal</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Blossom Headed Parakee</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Rose ring Parakeet</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Large Indian Parakeet</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Indian Red Brested Parakeet</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Grey Parakeet</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Albino Parakeet</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Blue Parakeet</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Military Parakeet</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Grey White Parakeet</h3>
						</figcaption>
					</div>
				</div><div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Conconoor</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Rosella</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Blue Yellow Macaw</h3>
						</figcaption>
					</div>
				</div><div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>InBrahminy duck</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Lesser flamingo</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Red Jungle fowl</h3>
						</figcaption>
					</div>
				</div><div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Golden pheasant</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Silver pheasant</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Lady Amherst pheasant</h3>
						</figcaption>
					</div>
				</div><div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Edward pheasant</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Ring necked pheasant</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Reeves pheasant</h3>
						</figcaption>
					</div>
				</div><div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Grey partridge</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Swamp partridge</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Black partridge</h3>
						</figcaption>
					</div>
				</div><div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Ostrich</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Emu</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Rosy pelican</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Purple moor hen</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Rosy Pastor</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>White dove</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Green Dove</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Grey leg goose</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Barn  Owl</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Great Horn owl</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Eagle Owl</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Mottled Wood Owl</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Owlet Jungle</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Budgeriger</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Water Ducks</h3>
						</figcaption>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //Non-Endangered Species -->

	</div>
<!-- //4NewBoxes-->



	</body>
	</html>