
<% content_for :for_head do %>
<title>Certification</title>
 <style> .topcontainer {  background: url("../images/headerbgreen.png") center center no-repeat;}</style>
<% end %>
	
<body>
		

<!-- team -->
<!-- Testing -->
<div class="team" id="team">
		<div class="col-md-8 team-grid-text-agile">
			<div class="container">
			<div class="col-md-3 BGListAnimalTitle">
				<h3>Certification</h3>
			</div>
			
			<div class="col-md-12 agile-team-grids GalleryAdjust">
				<div class="col-md-4 team-grid">
					<div class="team-img">
						<img src="images/VRC-ISO-Certificate-9001-2008.jpg" class="img-responsive" alt=" " />
					</div>
					
				</div>
				<div class="col-md-4 team-grid">
					<div class="team-img">
						<img src="images/ISO-Certificate-9001-2008.jpg" class="img-responsive" alt=" " />
					</div>
				
				</div>
				
				<div class="col-md-4 team-grid">
					<div class="team-img">
						<img src="images/Prasasti-Patra5.jpg" class="img-responsive" alt=" " />
					</div>
					
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //team -->


	</body>
	</html>