
<% content_for :for_head do %>
<title>Do's & Don'ts</title>
 <style> .topcontainer {  background: url("../images/headerbgreen.png") center center no-repeat;}</style>
<% end %>
<body>
		


<!-- team -->
	<div class="team" id="team">
		<div class="col-md-8 team-grid-text-agile">
			<div class="container">
			<div class="col-md-3 BGListAnimalTitle">
				<h3>Do's & Don'ts</h3>
			</div>
			<div class="col-md-12 BGListAnimalTitleCaptions">
				<h5>Following activities are offence in Lucknow Zoo<br><br><br></h5>
			<ul class="about-agile">
		    	<ol>
				   <li> Carrying of Polythene</li>
				   <li>Carrying of fire arms and pets</li>
				   <li>Making fire and cooking</li>
				    <li>Playing of radio transistor and tape recorders</li>
				   <li>Teasing Animals.</li>
				   <li> Making loud noise & Playing music</li>
				   <li>Consumption of intoxicated material</li>
				    <li>Plucking of flowers or causing harm to trees and gardens</li>
				   <li>Feeding Animals</li>
				</ol>
			</ul>
			</div>
		</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //team -->



	</body>
	</html>