<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->


<% content_for :for_head do %>
<title>Floral Diversity</title>
 <style> .topcontainer {  background: url("../images/headerbgreen.png") center center no-repeat;}</style>
<% end %>	
<body>
		
	
<body>
	

<!-- team -->
	<div class="team" id="team">
		<div class="col-md-8 team-grid-text-agile">
			<div class="container">
			<div class="col-md-3 BGListAnimalTitle">
				<h3>Floral Diversity</h3>
			</div>
			<div class="col-md-12 BGListAnimalTitleCaptions">
				<h5>Lucknow zoo has many varieties of trees in its campus.<br><br><br></h5>
				<h4>Parijat Tree:</h4>
				<p>Lucknow Zoo has a very rare and holy Parijat or Kalpavriksha. Its scientific name is Adansonia digitata. This tree reaches a great age of around 1000 years. This tree is very huge and some of the trees have girth above 10 meters. Some trees in Zoo are very huge and large and they are more than 100 year old. This tree is very pious and sacred and it’s worshiped. It is also many medicinal properties and the tree is full of vitamins and minerals.<br><br></p>
				<h4>Fruit Trees:</h4>
			<p>Jamun, Imli, Mango, Mulberry, Kachnar<br><br></p>
			<h4>Ornamental Trees:</h4>
			<p>Gulmohar, amaltas, peltophorum, cassia siamea, Bottle brush <br><br></p>
			<h4>Forestry Trees:</h4>
			<p>Peepal, Bargad, Pakad, Sheesham, Arjun, Chilbil, Kanjir, Bamboo, etc.</p>
			</div>
		</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //team -->



	</body>
	</html>