
 
<% content_for :for_head do %>
<title>Highlights: Official Website of Nawab Wajid Ali Shah Zoological Garden</title>
 <style> .topcontainer {  background: url("../images/headerbgreen.png") center center no-repeat;}</style>
<% end %>	
<body>
	
<body>
	

<!-- //banner -->
<!-- work -->
	<div class="work" id="about" style="margin-top: 5%">
		<div class="agileits_works-top">
				<div class="col-md-9 agileits_works-grid two">
				 
				    <div class="wthree-text">
					   <h4>ZOO HIGHLIGHTS & ACTIVITIES</h4>
					  <div class="w3_tittle"> <div class="line-style"><span></span></div></div>
					   <p><!-- Established in the year 1921 to commemorate the visit of His Royal Highness, the Prince of Wales to Lucknow and was known as “The Prince of Wales Zoological Gardens”. Its name was changed to “Lucknow Prani Udyan” in 2001. Again, its name is changed to “Nawab Wazid Ali Shah Prani Udyan, Lucknow” in 2015. Situated in 29 hectares area in heart of the city, it houses around 1000 animals of more than 100 species. Around 11-12 lacs visitor visits zoo every year.  --></p>


					   <ul class="about-agile">
						<!-- <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Zoo Highlights</li> -->
						<!-- <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Professional approach</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Birds for sale</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Professional care</li> -->
					</ul>
					</div>
					
				</div>
				
		    <div class="clearfix"> </div>
		</div>
		
		<div class="agileits_work_grids">
			<!-- <ul id="flexiselDemo1">			
				<li>
					<div class="agileits_work_grid view view-sixth">
						<img src="images/g1.jpg" alt=" " class="img-responsive" />
						<div class="mask">
							<a href="#" class="info">Toy Train</a>
						</div>
					</div>
				</li>
				<li>
					<div class="agileits_work_grid view view-sixth">
						<img src="images/g3.jpg" alt=" " class="img-responsive" />
						<div class="mask">
							<a href="#" class="info">Children Park</a>
						</div>
					</div>

				</li>
				<li>
					<div class="agileits_work_grid view view-sixth">
						<img src="images/g4.jpg" alt=" " class="img-responsive" />
						<div class="mask">
							<a href="#" class="info">Paddle Boating</a>
						</div>
					</div>
				</li>
				<li>
					<div class="agileits_work_grid view view-sixth">
						<img src="images/g2.jpg" alt=" " class="img-responsive" />
						<div class="mask">
							<a href="#" class="info">Museum</a>
						</div>
					</div>
				</li>
				<li>
					<div class="agileits_work_grid view view-sixth">
						<img src="images/g5.jpg" alt=" " class="img-responsive" />
						<div class="mask">
							<a href="#" class="info">Exotic Animals</a>
						</div>
					</div>
				</li><li>
					<div class="agileits_work_grid view view-sixth">
						<img src="images/g6.jpg" alt=" " class="img-responsive" />
						<div class="mask">
							<a href="#" class="info">Souvinir Shop</a>
						</div>
					</div>
				</li><li>
					<div class="agileits_work_grid view view-sixth">
						<img src="images/g7.jpg" alt=" " class="img-responsive" />
						<div class="mask">
							<a href="#" class="info">Historical Baradari</a>
						</div>
					</div>
				</li>
			</ul> -->
	
		</div>

	</div>
<!-- //work -->
<!-- team -->
	<div class="team" style="margin-bottom: 15%">
		<!-- <div class="col-md-6 team-grid-text-agile">
		
		    <div class="w3_tittle"><h3 class="agile-tittle">Discover Animals</h3> <div class="line-style"><span></span></div></div>
			<p>A Toy train was started in 1969. The rolling stock consisting of engine and two coaches is the gift of Railway Board. The train was inaugurated on the Children's Day 14 November 1969 by the then Chief Minister of Uttar Pradesh. The track is 1.5 kilometres (0.93 mi) long and has crossings and signals. Rides start from Chandrapuri station and travels to almost every section of the zoo.</p>
			<p>The Museum has become a centre of Lucknow's (Awadh's) sculpture, bronzes, paintings, natural history & anthropological specimens, coins, textiles and decorative arts. The (1000 BC) Egyptian Mummy and wooden sarcophagusure in the Prince of Wales Zoological Garden (Lucknow Zoo) are a centre of attraction.</p>
		</div> -->
			<div class="col-md-12 agile-team-grids">

				<div class="col-md-4 team-grid">
					<div class="team-img">
						<img src="images/t1.jpg" class="img-responsive" alt=" " />
						<figcaption class="overlay">
								<h4>Toy Train</h4>
					<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
							<div class="w3l-social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</figcaption>
					</div>
				</div>
				<div class="col-md-8 team-grid">
					<div class="team-img">
						<img src="images/t2.jpg" class="img-responsive" alt=" " />
						<figcaption class="overlay">
							<h4>Souvenir Shop</h4>
					<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
							<div class="w3l-social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</figcaption>
					</div>
					
				</div>
				<div class="col-md-4 team-grid">
					<div class="team-img">
						<img src="images/t3.jpg" class="img-responsive" alt=" " />
						<figcaption class="overlay">
								<h4>Museum</h4>
					<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
							<div class="w3l-social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</figcaption>
					</div>
					
				</div>
				<div class="col-md-4 team-grid">
					<div class="team-img">
						<img src="images/t4.jpg" class="img-responsive" alt=" " />
						<figcaption class="overlay">
							  <h4>Children Park</h4>
					           <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
							<div class="w3l-social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</figcaption>
					</div>
					
				</div>
				<div class="col-md-4 team-grid">
					<div class="team-img">
						<img src="images/t5.jpg" class="img-responsive" alt=" " />
						<figcaption class="overlay">
							  <h4>Paddle Boating</h4>
					           <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
							<div class="w3l-social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</figcaption>
					</div>
					
				</div>
				<div class="col-md-4 team-grid">
					<div class="team-img">
						<img src="images/t6.jpg" class="img-responsive" alt=" " />
						<figcaption class="overlay">
								<h4>Historical Baradari</h4>
					<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
							<div class="w3l-social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</figcaption>
					</div>
				</div>
				<div class="col-md-8 team-grid">
					<div class="team-img">
						<img src="images/t7.jpg" class="img-responsive" alt=" " />
						<figcaption class="overlay">
							<h4>Events</h4>
					<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
							<div class="w3l-social">
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</figcaption>
					</div>
					
				</div>
				<div class="clearfix"></div>
			</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //team -->

											<!-- Modal1 -->
													<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
														<div class="modal-dialog">
														<!-- Modal content-->
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal">&times;</button>
																	<img src="images/g2.jpg" alt=" " class="img-responsive">
																	<h5>Donec lobortis pharetra dolor</h5>
																	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable..</p>
																</div>
															</div>
														</div>
													</div>
													<!-- //Modal1 -->




	</body>
	</html>