
<% content_for :for_head do %>
<title>History</title>
 <style> .topcontainer {  background: url("../images/headerbgreen.png") center center no-repeat;}</style>
<% end %>
	
<body>
		

<!-- team -->
	<div class="team" id="team">
		<div class="col-md-8 team-grid-text-agile">
			<div class="container">
			<div class="col-md-3 BGListAnimalTitle">
				<h3>History</h3>
			</div>
			<div class="col-md-12 BGListAnimalTitleCaptions">
				<!-- <h5>Lucknow zoo has many varieties of trees in its campus.<br><br><br></h5> -->
				<!-- <h4>Parijat Tree:</h4> -->
				<p>The Prince of Wales Zoological Gardens, popularly known as Nawab Wajid Ali Shah Zoological Garden, was established in the year 1921 to commemorate the visit of His Royal Highness, the Prince of Wales to Lucknow. The idea of establishing Zoological gardens at Lucknow emanated from Sir Harcourt Butler, the then Governor of the State and it was received enthusiastically by the prominent landlords and the leading citizens of the State who donated liberally for the construction of animal houses and cages and also presented animals and birds for display from time to time.<br><br></p>
				<!-- <h4>Fruit Trees:</h4> -->
			<p>A Committee of management was formed consisting of donors and other prominent citizens. Colonel Fanthorpe, Commissioner of Lucknow was appointed as the first President and Sheikh Maqbool Husain as first Secretary of the Commission. The Committee was registered under the Societies Registration Act on the 17th August 1926. <br><br></p>
			<!-- <h4>Ornamental Trees:</h4> -->
			<p>Mr. Lintle Bogla, M.C., and Chief Engineer of the Lucknow Improvement Trust designed the layout of the Zoo along with its buildings and cages. 26 buildings along with cages were constructed at a total cost of Rs. 2,08,800 during the period from 1921 to 1926. The main gate on the Narahi side known as "Sir Ludovic Porter Gate" facing west was constructed in 1936. <br><br></p>
			<!-- <h4>Forestry Trees:</h4> -->
			<p>In the year 1950, the Managing Committee was dissolved and an Advisory Committee was formed with the Secretary to Govt., U.P., Public Health Department as its Chairman and the Director of Medical & Health Services, Uttar Pradesh as Ex-Officio Administrator. In 1966, the administrative control was transferred to the Forest Department and the Advisory Committee was also re-organised with Secretary to Govt., U.P., Forest Department as its Chairman and the Dy. Chief Conservator of Forests (Planning) as Ex-Officio Administrator. From time to time, the reorganisation of the Zoo Advisory Committee was done and presently the new Zoo Advisory Committee, constituted vide Government order No. 1652/14-4-2001-866/93 dated 04-08-2001, is under existence. The new Zoo Advisory Committee consists of the Forest Secretary to the Govt, of Uttar Pradesh as Chairman, Principal Chief Conservator of Forests, Uttar Pradesh as Vice Chairman and Chief Wildlife Warden, Uttar Pradesh as Administrator. The Director of the Zoo is the Member Secretary of the newly constituted Zoo Advisory Committee.</p>
			<p>The Uttar Pradesh Govt, vide letter No. 1552/14-4-2001-30/90, Van Anubhag-4, dated 04 June 2001, changed the name of "Prince of Wales Zoological Gardens.Trust, Lucknow" to "Lucknow Prani Udyan".</p>
			<p>The Uttar Pradesh Govt, vide letter No. 1211/14-4-2015-838/2015, dated 07 July 2015, changed the name of "Lucknow Prani Udyan" to "Nawab Wajid Ali Shah Zoological Garden". </p>
			<p>Nawab Wajid Ali Shah Zoological Garden is situated in the heart of Lucknow, the capital town of Uttar Pradesh.. It is about 20 Kms. from Amausi Airport, which is served by flights from New Delhi, Kolkatta, Varanasi, Bangalore and Mumbai. Lucknow is connected with international places too, like Sharjah, Jeddah, etc. The city's railway station, popularly known as Charbagh Railway Junction is a major railway station. It is situated at a distance of around 15 Kms. from the zoo. It is connected with all the major cities and towns of the country. The nearest and very old and famous shopping complex Hazratganj is hardly 2 Kms. from the zoo</p>
			<p>Lucknow is connected to all major cities by road. Some of the important road distances are: Kanpur-80Kms., Allahabad-210Kms., Ayodhya-135Kms., Delhi-497Kms., Agra-363Kms., Dudhwa National Park-238Kms.,Varanasi-305Kms., Khajuraho-320Kms., Corbett and Rajaji National Parks-400Kms. </p>
			</div>
		</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //team -->


	</body>
	</html>