

<% content_for :for_head do %>
	<title>Official Website of Nawab Wajid Ali Shah Zoological Garden</title>

<% end %>
	
	<body>
		<!-- header -->

<!-- //header -->
<!-- banner -->
<div class="banner" style="
margin-left: 10%;
margin-right: 10%;
">
<div id="kb" class="heightclass carousel kb_elastic animate_text kb_wrapper" data-ride="carousel" data-interval="6000" data-pause="hover">

	<!-- Wrapper-for-Slides -->
	<div class="carousel-inner " role="listbox">

		<!-- First-Slide -->
		<div class="item active">
			<img src="images/banner.png" alt="" class="img-responsive" />
			<div class="carousel-caption kb_caption">
				<h3 data-animation="animated flipInX">Audio tour</h3>
				<h4 data-animation="animated flipInX">Welcome to the futuristic zoo of India</h4>
			</div>
		</div>

		<!-- Second-Slide -->
		<div class="item">
			<img src="images/banner1.jpeg" alt=""  class="img-responsive" />
			<div class="carousel-caption kb_caption kb_caption_right">
				<h3 data-animation="animated flipInX">Virtual Reality</h3>
				<h4 data-animation="animated flipInX">Experience animals close as never before</h4>
			</div>
		</div>

		<!-- Third-Slide -->
		<div class="item">
			<img src="images/banner2.jpg" alt="" class="img-responsive" />
			<div class="carousel-caption kb_caption kb_caption_center">
				<h3 data-animation="animated flipInX">Mixed Reality</h3>
				<h4 data-animation="animated flipInX">India’s first and also perhaps word’s first</h4>
			</div>
		</div>
		<!-- Fourth-Slide -->
		<div class="item">
			<img src="images/banner2.jpg" alt="" class="img-responsive" />
			<div class="carousel-caption kb_caption kb_caption_center">
				<h3 data-animation="animated flipInX">Adoption program</h3>
				<h4 data-animation="animated flipInX">Adopt and get intimate with animals</h4>
			</div>
		</div>

	</div>

	<!-- Left-Button -->
	<a class="left carousel-control kb_control_left" href="#kb" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>

	<!-- Right-Button -->
	<a class="right carousel-control kb_control_right" href="#kb" role="button" data-slide="next">
		<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>

</div>
</div>
<!-- //banner -->

<!-- work -->
<div class="work">
	<div class="agileits_works-top  aboutzoo">
				<!-- <div class="col-md-6 agileits_works-grid">
					<img src="images/ab.jpg" alt=" " class="img-responsive" />
				</div> -->
				<div class="col-md-10 col-md-offset-1 agileits_works-grid">

					<div class="wthree-text">
						<!-- <h4  class="agile-tittle two gal">About the zoo</h4> -->
						<!-- <div class="w3_tittle"> <div class="line-style second"><span></span></div></div> -->
						<p>Nawab Wajid Ali Shah Prani Udyan, Lucknow, popularly known as Lucknow Zoo (earlier known as “Prince
							of Wales Zoological Gardens”) was established in the year 1921 to commemorate the visit of His Royal
							Highness, the Prince of Wales to Lucknow. It is situated in 29 hectares area in the heart of the city. It
							houses around 1000 animals of more than 100 species. The zoo gets around 11-12 lacs visitors every
							year. The zoo is well known for its ‘Bal Rail’, a toy train that runs across the zoo and paddle boating that
							allows the visitors to recreate while visiting the animals. The visitors can also avail the facility of
							Pollution free Battery Vehicle for moving around the zoo.</p>
					</div>

				</div>

				<div class="clearfix"> </div>
	</div>
</div>
			<!-- //work -->
			<!-- 4NewBoxes -->

			<div class="gallery">
				<!-- <div class="w3_tittle second two"><h3 class="agile-tittle two gal">Adopt an Animal</h3> <div class="line-style second"><span class="second"></span></div></div> -->
				<div class="Events">
					<div class="w3-agile-top-info 4NewBoxes">	
						<!-- Testing -->
						<div class="col-md-10 col-md-offset-1">
							<div class="col-md-3 gallery-grid  " style="padding: 10px">
								<div class="grid ">
									<div class="blue-border">
										<figure class="effect-roxy ">

											<img src="images/z1.jpg" alt="" />	

										</figure>
									</div>
									<figcaption>
										<h3 class = "fertigo-pro align-left green-color">VR Experience</h3>
										<br>
										<p class = "align-left fertigo-pro">A one-year-old tigress rescued from Pallia near Dudhwa has been brought to Lucknow zoo for treatment.The winter chill and starvation has left...</p>
									</figcaption>
									<div class="align-right w3l-button" style="margin: 10px">
										<a href="#" class="hvr-underline-from-center">Experience Now</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 gallery-grid"  style="padding: 10px">
								<div class="grid">
									<div class="brown-border">

										<figure class="effect-roxy">
											<img src="images/z2.jpg" alt="" />	


										</figure>
									</div>
									<figcaption>
										<h3 class = " fertigo-pro align-left green-color">News Makers</h3>
										<br>
										<p class = "align-left fertigo-pro">A Toy train was started in 1969. The rolling stock consisting of engine and two coaches is the gift of Railway Board. The train was inaugurated... </p>
									</figcaption>
									<div class=" align-right  w3l-button" style="margin: 10px">
										<a href="#" class="hvr-underline-from-center">More news</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 gallery-grid" style="padding: 10px">
								<div class="grid">
									<div class="orange-border">

										<figure class="effect-roxy">
											<img src="images/z3.jpg" alt="" />	

										</figure>
									</div>
									<figcaption>
										<h3 class = " fertigo-pro align-left green-color">Adopt An Animal</h3>
										<br>
										<p class = "align-left fertigo-pro">Discover how incredible invertebrates really are at our bug petting zoo. In future, discover the myriad ways virtual reality enters our lives and ...</p>
									</figcaption>
									<div class="align-right w3l-button" style="margin: 10px">
										<a href="AdoptAnimal.html" class="hvr-underline-from-center">Adopt</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 gallery-grid" style="padding: 10px">
								<div class="grid">
									<div class="green-border">

										<figure class="effect-roxy">
											<img src="images/z4.jpg" alt="" />	

										</figure>
									</div>
									<figcaption>
										<h3 class = " fertigo-pro align-left green-color">Activities</h3>
										<br>
										<p class = "align-left fertigo-pro">Lucknow Zoo is one of the most visited and interesting place in India. The Lucknow Zoological Garden Entry fee is 40 Rs per head...</p>
									</figcaption>
									<div class=" align-right w3l-button" style="margin: 10px">
										<a href="#" class="hvr-underline-from-center">See more</a>
									</div>
								</div>
							</div>
						</div>
						<!-- //Testing -->
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!-- //4NewBoxes-->

			<!-- Gallery-->
			<div class="gallery" id="gallery" style="
			margin-top: 5%">
			<div class="w3_tittle second two">
				<h4 class="agile-tittle two  BGListAnimalTitle fonarto">Gallery</h4>
				<div class="line-style second">
				</div>
			</div>
			<div class="col-md-10 col-md-offset-1">	
				<div class="w3-agile-top-info">	
					<div class="col-md-3 gallery-grid">
						<div class="grid">
							<figure class="effect-roxy">
								<a class="example-image-link" href="images/h1.jpg" data-lightbox="example-set" data-title="In lacinia pharetra ipsum vel dapibus. Ut vitae tristique nisi, mattis pellentesque elit. Proin mollis sed nisi ac sodales.">
									<img src="images/h1.jpg" alt="" />
									<figcaption>
										<!-- <h3>Indian <span>Exotic Animals</span></h3> -->
										<p>Hippopotamus</p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-3 gallery-grid">
						<div class="grid">
							<figure class="effect-roxy">
								<a class="example-image-link" href="images/h2.jpg" data-lightbox="example-set" data-title="In lacinia pharetra ipsum vel dapibus. Ut vitae tristique nisi, mattis pellentesque elit. Proin mollis sed nisi ac sodales.">
									<img src="images/h2.jpg" alt="" />
									<figcaption>
										<!-- <h3>Indian <span>Exotic Animals</span></h3> -->
										<p>Rhino</p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-3 gallery-grid">
						<div class="grid">
							<figure class="effect-roxy">
								<a class="example-image-link" href="images/h3.jpg" data-lightbox="example-set" data-title="In lacinia pharetra ipsum vel dapibus. Ut vitae tristique nisi, mattis pellentesque elit. Proin mollis sed nisi ac sodales.">
									<img src="images/h3.jpg" alt="" />
									<figcaption>
										<!-- <h3>Indian <span>Exotic Animals</span></h3> -->
										<p>Lion</p>
									</figcaption>		
								</a>
							</figure>
						</div>
					</div>

					<div class="col-md-3 gallery-grid">
						<div class="grid">
							<figure class="effect-roxy">
								<a class="example-image-link" href="images/h4.jpg" data-lightbox="example-set" data-title="In lacinia pharetra ipsum vel dapibus. Ut vitae tristique nisi, mattis pellentesque elit. Proin mollis sed nisi ac sodales.">
									<img src="images/h4.jpg" alt="" />
									<figcaption>
										<!-- <h3>Indian <span>Exotic Animals</span></h3> -->
										<p>Deer</p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-3 gallery-grid">
						<div class="grid">
							<figure class="effect-roxy">
								<a class="example-image-link" href="images/h5.jpg" data-lightbox="example-set" data-title="In lacinia pharetra ipsum vel dapibus. Ut vitae tristique nisi, mattis pellentesque elit. Proin mollis sed nisi ac sodales.">
									<img src="images/h5.jpg" alt="" />
									<figcaption>
										<!-- <h3>Indian <span>Exotic Animals</span></h3> -->
										<p>Beer</p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-3 gallery-grid">
						<div class="grid">
							<figure class="effect-roxy">
								<a class="example-image-link" href="images/h6.jpg" data-lightbox="example-set" data-title="In lacinia pharetra ipsum vel dapibus. Ut vitae tristique nisi, mattis pellentesque elit. Proin mollis sed nisi ac sodales.">
									<img src="images/h6.jpg" alt="" />
									<figcaption>
										<!-- <h3>Indian <span>Exotic Animals</span></h3> -->
										<p>Elephant</p>
									</figcaption>		
								</a>
							</figure>
						</div>
					</div>

					<div class="col-md-3 gallery-grid">
						<div class="grid">
							<figure class="effect-roxy">
								<a class="example-image-link" href="images/h7.jpg" data-lightbox="example-set" data-title="In lacinia pharetra ipsum vel dapibus. Ut vitae tristique nisi, mattis pellentesque elit. Proin mollis sed nisi ac sodales.">
									<img src="images/h7.jpg" alt="" />
									<figcaption>
										<!-- <h3>Indian <span>Exotic Animals</span></h3> -->
										<p>White Tiger</p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="col-md-3 gallery-grid">
						<div class="grid">
							<figure class="effect-roxy">
								<a class="example-image-link" href="images/h8.jpg" data-lightbox="example-set" data-title="In lacinia pharetra ipsum vel dapibus. Ut vitae tristique nisi, mattis pellentesque elit. Proin mollis sed nisi ac sodales.">
									<img src="images/h8.jpg" alt="" />
									<figcaption>
										<!-- <h3>Indian <span>Exotic Aniimals</span></h3> -->
										<p>Lion Tailed Monkey</p>
									</figcaption>	
								</a>
							</figure>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //Gallery-->

		<!-- Videos -->
		<div class="welcome" >
			<div class="container">

				<div class="w3_tittle fonartos"><h3 class="agile-tittle BGListAnimalTitle fonarto">Latest Videos</h3> <div class="line-style"><span></span></div></div>
				<div class="w3-agile-top-info">	
					<div class="w3-welcome-grids">
						<div class="col-md-4 w3ls-welcome-img1">
							<iframe src="https://player.vimeo.com/video/131000302" ></iframe>
						</div>
						<div class="col-md-4 w3ls-welcome-img1">
							<iframe src="https://player.vimeo.com/video/1580345" ></iframe>
						</div>
						<div class="col-md-4 w3ls-welcome-img1">
							<iframe src="https://player.vimeo.com/video/1580345" ></iframe>
						</div>

					</div>


					<div class="clearfix"> </div>

				</div>

			</div>
		</div>
	</div>
	<!-- //Videos -->

	<!--Zoo Map-->
	<div class="gallery" id="gallery1" style="
	margin-top: 15%">
	<div class="w3_tittle second two "><h3 class="agile-tittle two  BGListAnimalTitle fonarto">Zoo Map</h3> <div class="line-style second"><span class="second"></span></div></div>
	<div class="w3-agile-top-info">	
		<div class="col-md-4 col-md-offset-1 gallery-grid">
			<div class="grid">
				<a class="example-image-link" href="images/MAP.png" data-lightbox="example-set" data-title="Lucknow Zoo Map">
					<img class="img-responsive" src="images/map.png" alt="" />
				</a>

			</div>
		</div>
		<div class="col-md-4 col-md-offset-1 gallery-grid">
			<div class="grid">

				<div class="google-map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.8196568857843!2d80.95245871441443!3d26.845687769436378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bfd1ad9fd2573%3A0x45ec479eae5dc3c1!2sLucknow+Zoo!5e0!3m2!1sen!2sin!4v1505397715261" width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				
			</div>
		</div>


		<div class="clearfix"> </div>
	</div>
</div>
<!-- //Zoo Map-->


		<div class="clearfix"> </div>
	</div>
</div>
	</body>
	</html>