

<% content_for :for_head do %>
<title>List of Directors</title>
 <style> .topcontainer {  background: url("../images/headerbgreen.png") center center no-repeat;}</style>
<% end %>
<body>
		


<!-- team -->
	<div class="team" id="team">
		<div class="col-md- team-grid-text-agile">
			<div class="container">
			<div class="col-md-3 BGListAnimalTitle">
				<h3>List of Directors</h3>
			</div>
			<div class="container">         
			  <table class="table table-bordered BgColorListDirectors">
			    <thead>
			      <tr>
			        <th>S. No.</th>
			        <th>Name</th>
			        <th>Duration</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>1.</td>
			        <td>S. S. Raturi</td>
			        <td>1972 to 1973</td>
			      </tr>
			      <tr>
			        <td>2.</td>
			        <td>H. C. Raizada </td>
			        <td>1973 to 1974</td>
			      </tr>
			      <tr>
			        <td>3.</td>
			        <td>R. N. Chaudhary</td>
			        <td>1974 to 1977</td>
			      </tr>
			      <tr>
			        <td>4.</td>
			        <td>Ashok Singh</td>
			        <td>1977 to 1982</td>
			      </tr>
			      <tr>
			        <td>5.</td>
			        <td>R. L. Singh</td>
			        <td>1982 to 1984</td>
			      </tr>
			      <tr>
			        <td>6.</td>
			        <td>V. B.Gaur</td>
			        <td>1984 to 1986</td>
			      </tr><tr>
			        <td>7.</td>
			        <td>C. B. Verma</td>
			        <td>1986 to 1988</td>
			      </tr>
			      <tr>
			        <td>8.</td>
			        <td>R. K. Shukla</td>
			        <td>1988 to 1990</td>
			      </tr>
			      <tr>
			        <td>9.</td>
			        <td>Rupak Dey</td>
			        <td>1990 to 1991</td>
			      </tr><tr>
			        <td>10.</td>
			        <td>R. N. Pandey</td>
			        <td>1991 to 1994</td>
			      </tr>
			      <tr>
			        <td>11.</td>
			        <td>Mahendra Singh</td>
			        <td>1994 to 1998</td>
			      </tr>
			      <tr>
			        <td>12.</td>
			        <td>G. P. Sharma</td>
			        <td>1998 to 2000</td>
			      </tr><tr>
			        <td>13.</td>
			        <td>Paramjit Singh</td>
			        <td>2000 to 2000</td>
			      </tr>
			      <tr>
			        <td>14.</td>
			        <td>Sanjay Srivastava</td>
			        <td>2000 to 2001</td>
			      </tr>
			      <tr>
			        <td>15.</td>
			        <td>B. Prabhaker</td>
			        <td>2001 to 2001</td>
			      </tr><tr>
			        <td>16.</td>
			        <td>Uma Shanker Singh</td>
			        <td>2001 to 2002</td>
			      </tr>
			      <tr>
			        <td>17.</td>
			        <td>D. R. Bansal</td>
			        <td>2002 to 2002</td>
			      </tr>
			      <tr>
			        <td>18.</td>
			        <td>Eva Sharma</td>
			        <td>2002 to 2007</td>
			      </tr><tr>
			        <td>19.</td>
			        <td>Renu Sing</td>
			        <td>2007 to 2013</td>
			      </tr>
			      <tr>
			        <td>20.</td>
			        <td>Anupam Gupta</td>
			        <td>2013 till date..</td>
			      </tr>
			    </tbody>
			  </table>
			</div>
		</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //team -->



	</body>
	</html>