
<% content_for :for_head do %>
<title>Main Animals at Zoo</title>
 <style> .topcontainer {  background: url("../images/headerbgreen.png") center center no-repeat;}</style>
<% end %>

	
<body>
		


<!-- team -->
	<div class="team" id="team">
		<div class="col-md-8 team-grid-text-agile">
			<div class="container">
			<div class="col-md-3 BGListAnimalTitle">
				<h3>Main Animals at Zoo</h3>
			</div>
			<div class="col-md-12 BGListAnimalTitleCaptions">
				<!-- <h5>Lucknow zoo has many varieties of trees in its campus.<br><br><br></h5> -->
				<h4>Mammals:</h4>
				<p>Lion, Tiger, White Tiger, Leopard, Himalayan Black Bear, Rhino, Hoolock Gibbon, Lion tailed Monkey<br><br><br></p>
				<h4>Birds:</h4>
			<p>Sarus Crane, Black necked crane, Pelicans, Painted Stork, Parrots, Vulture, White Peacock<br><br><br></p>
			<h4>Reptiles:</h4>
			<p>Crocodiles, Ghariyal, Cobra, viper, Sand Bora<br><br><br></p>
			<h4>Exotic:</h4>
			<p>    Giraffe, Zebra, Hippopotamus, Ostrich, Blue Yellow macaque, Japanese Monkey, Emu</p>
			</div>
		</div>
		</div>
		<div class="clearfix"> </div>
	</div>


	</body>
	</html>