
<% content_for :for_head do %>
<title>Nocturnal House</title>
 <style> .topcontainer {  background: url("../images/headerbgreen.png") center center no-repeat;}</style>
<% end %>	
	
<body>
		

<!-- 4NewBoxes -->
	<div class="gallery">
		<div class="container">
			<div class="col-md-3 BGListAnimalTitle">
				<h3>Nocturnal House</h3>
			</div>
			<!-- <div class="col-md-12 BGListAnimalTitleCaptions">
				<h4>CARNIVORES -</h4>
			<h5>Endangered Species</h5>
			</div> -->
		</div>
		<div class="Events ContainerListAnimal">
		    <div class="w3-agile-top-info ListAnimal">
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Barn Owl</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Eagle Owl</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Mottled Wood Owl</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Owlet Jungle</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Indian Porcupine</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Palm Civet Cat</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Albino Porcupine</h3>
						</figcaption>
					</div>
				</div>	
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //4NewBoxes-->



	</body>
	</html>