<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<% content_for :for_head do %>
<title>Reptiles</title>
 <style> .topcontainer {  background: url("../images/headerbgreen.png") center center no-repeat;}</style>
<% end %>	

	
<body>
		

<!-- 4NewBoxes -->
	<div class="gallery">
		<div class="container">
			<div class="col-md-3 BGListAnimalTitle">
				<h3>Reptiles</h3>
			</div>
			<div class="col-md-12 BGListAnimalTitleCaptions">
				<!-- <h4>CARNIVORES -</h4> -->
			<h5>Endangered Species</h5>
			</div>
		</div>
		<div class="Events ContainerListAnimal">
		    <div class="w3-agile-top-info ListAnimal">	
				<!-- Testing -->
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Crocodile Marsh (Mugger)</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Ghariyal</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Indian Python</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Indian Cobra</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Viper</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Rat Snake</h3>
						</figcaption>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- Non-Endangered Species -->
		<div class="container">
			<div class="col-md-12 BGListAnimalTitleCaptions">
				<!-- <h4>CARNIVORES -</h4> -->
			<h5>Non-Endangered Species</h5>
			</div>
		</div>
		<div class="Events ContainerListAnimal">
		    <div class="w3-agile-top-info ListAnimal">	
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Sand Boa</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Earth Snake or Sand Snake</h3>
						</figcaption>
					</div>
				</div>
				<div class="col-md-3 gallery-grid GalleryAnimalList">
					<div class="grid GalleryAnimalListBox">
						<figure class="effect-roxy">
							<a href="AnimalDetail.html">
								<img src="images/no-img-available.jpg" alt="" />	
							</a>
						</figure>
						<figcaption>
								<h3>Turtle</h3>
						</figcaption>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
<!-- //Non-Endangered Species -->

	</div>
<!-- //4NewBoxes-->



	</body>
	</html>