
<% content_for :for_head do %>
<title>State Art Museum</title>
 <style> .topcontainer {  background: url("../images/headerbgreen.png") center center no-repeat;}</style>
<% end %>	
	
<body>
		


<!-- team -->
<!-- Testing -->
<div class="team" id="team">
		<div class="col-md-8 team-grid-text-agile">
			<div class="container">
			<div class="col-md-3 BGListAnimalTitle">
				<h3>State Art Museum</h3>
			</div>
			<div class="col-md-12 BGListAnimalTitleCaptions">
				<h5>This Museum has a vast collection of about one Lac specimens. This can be broadly classified into main five sections.<br><br><br></h5>
			<ul class="about-agile">
		    	<ol>
				   <li>Archaeological Section comprising of pre-historical implements, pottery and bricks, sculptures, terracotta’s, metal images, seals, beads, stone inscriptions and copper plates.</li>
				   <li>Numismatic Section comprising of gold, silver and copper coins, medals and paper currency.</li>
				   <li>Art Section comprising of paintings and textiles, metal ware, wood work, ivory and toys.</li>
				    <li>Natural History</li>
				   <li>Ethnography</li>
				</ol>
			</ul>
			</div>
			<div class="col-md-12 agile-team-grids GalleryAdjust">
				<div class="col-md-3 team-grid">
					<div class="team-img">
						<img src="images/State-Art-Museum-img1.jpg" class="img-responsive" alt=" " />
					</div>
					
				</div>
				<div class="col-md-3 team-grid">
					<div class="team-img">
						<img src="images/State-Art-Museum-img2.jpg" class="img-responsive" alt=" " />
					</div>
				
				</div>
				
				<div class="col-md-3 team-grid">
					<div class="team-img">
						<img src="images/State-Art-Museum-img3.jpg" class="img-responsive" alt=" " />
					</div>
					
				</div>
				<div class="col-md-3 team-grid">
					<div class="team-img">
						<img src="images/State-Art-Museum-img4.jpg" class="img-responsive" alt=" " />
					</div>
					
				</div>
				<div class="col-md-3 team-grid">
					<div class="team-img">
						<img src="images/State-Art-Museum-img5.jpg" class="img-responsive" alt=" " />
					</div>
					
				</div>
				<div class="col-md-3 team-grid">
					<div class="team-img">
						<img src="images/State-Art-Museum-img6.jpg" class="img-responsive" alt=" " />
					</div>
				
				</div>
				<div class="col-md-3 team-grid">
					<div class="team-img">
						<img src="images/State-Art-Museum-img7.jpg" class="img-responsive" alt=" " />
					</div>
					
				</div>
				<div class="col-md-3 team-grid">
					<div class="team-img">
						<img src="images/State-Art-Museum-img8.jpg" class="img-responsive" alt=" " />
					</div>
				
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //team -->


	</body>
	</html>