

<!-- GLOBAL MANDATORY STYLES --> 

<% content_for :for_head do %>
<title>Tender</title>
<style> .topcontainer {  background: url("../images/headerbgreen.png") center center no-repeat;}</style>
<% end %>	

<body>
		

<!-- team -->
	<div class="team" id="team">
		<div class="col-md- team-grid-text-agile">
			<div class="container">
			<div class="col-md-3 BGListAnimalTitle">
				<h3>Tender</h3>
			</div>
			<div class="container">         
			  <table class="table table-bordered">
			    <thead>
			      <tr>
			        <th>S. No.</th>
			        <th>Tender Description</th>
			        <th>Date of Publishing</th>
			        <th>Last Date of Submission</th>
			        <th>Download Tender</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>1.</td>
			        <td>Tender Notice for Procurement of 2D films</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>2.</td>
			        <td>Tender Notice for Procurement of 3D films</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>3.</td>
			        <td>2D & 3D Film for Auditorium</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>4.</td>
			        <td>Making models of Giraff , Lion and Hippopotamus</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>5.</td>
			        <td>Thermal Imager Camera </td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>6.</td>
			        <td>Pad board made of fiber</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>7.</td>
			        <td>Troli</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>8.</td>
			        <td>Tender notice for Rasan</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>9.</td>
			        <td>Tender Notice for fruits & vegetable</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>10.</td>
			        <td>Tender Notice for the Fruits & Vegetables for the animals</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>11.</td>
			        <td>Tender Notice for the Rashan for the animals</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>12.</td>
			        <td>Expression of Interest (EOI) for Hiring Consultant for Modernization<br> and Development of Lucknow Zoo</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			       <tr>
			        <td>13.</td>
			        <td>Tender Notice for Nilami of Waste products</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>14.</td>
			        <td>Tender Notice for water filteration</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			       <tr>
			        <td>15.</td>
			        <td>Tender notice & document for procurement of Giraffe</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>16.</td>
			        <td>Tender notice & document for procurement of Zebra</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			       <tr>
			        <td>17.</td>
			        <td>Expression of Interest (EOI) for Giraffe and Zebra</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>18.</td>
			        <td>Expression of Interest (EOI) for hiring of Consultant<br> to prepare projects and provide consultancy<br> for the establishment of Butterfly Parks At Nawab Wajid<br> Ali Shah Prani Udyan Lucknow (Lucknow Zoo)<br> & Kanpur prani Udyan Kanpur (kanpur zoo)</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			       <tr>
			        <td>19.</td>
			        <td>Notice regarding of "Auction Notice</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>12.</td>
			        <td>Expression of Interest (EOI) for Hiring Consultant for Modernization<br> and Development of Lucknow Zoo</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			       <tr>
			        <td>20.</td>
			        <td>Notice regarding of "Auction Notice</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>21.</td>
			        <td>Notice regarding of "EOI of Hannover</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			       <tr>
			        <td>22.</td>
			        <td>Tender notice regarding of Fast Food ,South Indian ,Chinese ,snacks</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>23.</td>
			        <td>Tender notice regarding of open air restaurant</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			       <tr>
			        <td>24.</td>
			        <td>Tender Notice Regarding of Open Air Restaurant</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>25.</td>
			        <td>Tender Notice Regarding of Chain Link Jali</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			       <tr>
			        <td>26.</td>
			        <td>Tender Notice for the Rashan for the animals</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>27.</td>
			        <td>Tender Notice Regarding of Icecreem </td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			       <tr>
			        <td>28.</td>
			        <td>Tender Notice Regarding of Pepsi Cola, Coca Cola</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>29.</td>
			        <td>Tender regarding of food court and vehicle parking </td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			       <tr>
			        <td>30.</td>
			        <td>Tender regarding of fish food </td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>31.</td>
			        <td>Tender regarding selling of Cold drinks, Tea, Coffee & <br>Miniral Water in Zoo premises</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>30.</td>
			        <td>Tender regarding Renovation of Natural Interpretation Centre</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			      <tr>
			        <td>31.</td>
			        <td>Tender regarding staff required for cleaning of toilets in Zoo premises</td>
			        <td>-</td>
			        <td>-</td>
			        <td><a href="#">Tender PDF</a> </td>
			      </tr>
			    </tbody>
			  </table>
			</div>
		</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //team -->


	</body>
	</html>