


<% content_for :for_head do %>
<title>Ticket rates & timings</title>
 <style> .topcontainer {  background: url("../images/headerbgreen.png") center center no-repeat;}</style>
<% end %>
	
<body>
		

<!-- team -->
	<div class="team" id="team">
		<div class="col-md- team-grid-text-agile">
			<div class="container">
			<div class="col-md-3 BGListAnimalTitle">
				<h3>Entry Ticket Rates</h3>
			</div>
			<div class="container">         
			  <table class="table table-bordered TicketRatesTable">
			    <thead>
			      <tr>
			        <th></th>
			        <th>Window Ticket Rates (in Rs.)</th>
			        <th>Online Ticket Rate (in Rs.)</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>
			        	<b>Entrance Ticket for above 12 years of age</b>
						<p>(Entry Ticket, Aquarium House, Nocturnal House,<br> Nature Interpretation Centre are included)</p>
					</td>
			        <td>Rs.60.00</td>
			        <td>Rs.54.00</td>
			      </tr>
			      <tr>
			        <td>
			        	<b>Entry ticket for 5 years to 12 years age</b>
						<p>(Entry Ticket, Aquarium House, Nocturnal House,<br> Nature Interpretation Centre are included)</p>
					</td>
			        <td>Rs.30.00</td>
			        <td>Rs.27.00</td>
			      </tr>
			      <tr>
			        <td><b>Package ticket for above 12 years age</b>
						<p>(Entry Ticket, Aquarium House, Nocturnal House,<br> Nature Interpretation Centre, Bal train, Battery Operated Vehicle are included)</p>
					</td>
			        <td>Rs.100.00 </td>
			        <td>Rs.90.00</td>
			      </tr>
			      <tr>
			        <td>
			        	<b>Package ticket for 5 years to 12 yearsage</b>
						<p>(Entry Ticket, Aquarium House, Nocturnal House,<br> Nature Interpretation Centre, Bal train, Battery Operated Vehicle are included)</p> </td>
			        <td>Rs.50.00</td>
			        <td>Rs.45.00</td>
			      </tr>
			    </tbody>
			  </table>
			</div>
			<div class="container">         
			  <table class="table table-bordered TicketRatesTable">
			    <tbody>
			      <tr>
			        <td>
			        	<b>Free Entry for below 5 Years</b>
					</td>
			        <td>Rs.00.00</td>
			        
			      </tr>
			      <tr>
			        <td>
			        	<b>Video Camera Ticket</b>
					</td>
			        <td>Rs.50.00</td>
			       
			      </tr>
			      <tr>
			        <td>
			        	<b>Morning Walk Pass-</b>
						<p>For a month</p>
					</td>
			        <td>Rs.100.00 </td>
			        
			      </tr>
			      <tr>
			        <td>
			        	<!-- <b>Package ticket for 5 years to 12 yearsage</b> -->
						<p>For a year</p> </td>
			        <td>Rs.500.00</td>
			      </tr>
			    </tbody>
			  </table>
			</div>
			<div class="container">         
			  <table class="table table-bordered TicketRatesTable">
			    <tbody>
			    <tr>
			      	<td>
			        	<b>For school students- 10% concession on groups above 50 students</b>		        
			      </td>
			  	</tr>
			  	<tr>
			      <td>
			        	<b style="color: red">Note:- Lucknow Zoological Park is closed on every Monday and the day of Holi Festival for Visitor</b>								       
			      </td>
			    </tr>
			    </tbody>
			  </table>
			</div>
			</div>
			<div class="container">
			<div class="col-md-3 BGListAnimalTitle">
				<h3>Visiting Hours for Zoo</h3>
			</div>
			<div class="container">         
			  <table class="table table-bordered TicketRatesTable">
			    <tbody>
			      <tr>
			        <td>
			        	<b>From February to April</b>
					</td>
			        <td>8.30 am to 5.30 pm</td>
			      </tr>
			      <tr>
			        <td>
			        	<b>From May to July</b>
					</td>
			        <td>8.00 am to 6.00 pm</td>
			       
			      </tr>
			      <tr>
			        <td>
			        	<b>From August to October</b>
					</td>
			        <td>8.30 am to 5.30 pm</td>
			      </tr>
			      <tr>
			        <td>
			        	<b>From November to January </b>
					</td>
			        <td>8.30 am to 5.00 pm</td>
			      </tr>
			    </tbody>
			  </table>
			</div>
			</div>
			<div class="container">
			<div class="col-md-3 BGListAnimalTitle">
				<h3>Visiting Hours for Morning Walks</h3>
			</div>
			<div class="container">         
			  <table class="table table-bordered TicketRatesTable brownbg">
			    <tbody>
			      <tr>
			        <td>
			        	<b>From March to September</b>
					</td>
			        <td>5.00 am to 7.00 am</td>
			      </tr>
			      <tr>
			        <td>
			        	<b>From October to February</b>
					</td>
			        <td>6.00 am to 8.00 am </td>			       
			      </tr>
			    </tbody>
			  </table>
			</div>
			</div>
		</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //team -->


	</body>
	</html>