
<% content_for :for_head do %>
<title>Veterinary Care</title>
 <style> .topcontainer {  background: url("../images/headerbgreen.png") center center no-repeat;}</style>
<% end %>
	
<body>
		
<!-- team -->
	<div class="team" id="team" style="margin-top: 10%; margin-right: 5%; margin-bottom: 10%;margin-left: 5%">
		<div class="col-md-6 team-grid-text-agile">
		
		    <div class="w3_tittle"><h3 class="agile-tittle">Veterinary Facilities</h3> <div class="line-style"><span></span></div></div>
		    <p></p>
		    <ul class="about-agile">
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Separate Big & Spacious Veterinary Hospital</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>3 Veterinary Doctors</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>2 X-ray machines fixed and portable</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>1 Mobile Ultrasound machine</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>1 Electrocautery</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>1 Operation theatre</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Auto Blood Analyzer</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Special Wards</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Indoor Patient ward for wildlife animal</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Modern Pathology lab for wildlife</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Rescue Van</li>
						<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Ambulance</li>
			</ul>
		</div>
			<div class="col-md-6 agile-team-grids">
				<div class="col-md-6 team-grid">
					<div class="team-img">
						<img src="images/v1.jpg" class="img-responsive" alt=" " />
					</div>
					
				</div>
				<div class="col-md-6 team-grid">
					<div class="team-img">
						<img src="images/v2.jpg" class="img-responsive" alt=" " />
					</div>
				
				</div>
				
				<div class="col-md-6 team-grid">
					<div class="team-img">
						<img src="images/v3.jpg" class="img-responsive" alt=" " />
					</div>
					
				</div>
				<div class="col-md-6 team-grid">
					<div class="team-img">
						<img src="images/v4.jpg" class="img-responsive" alt=" " />
					</div>
					
				</div>
				<div class="col-md-6 team-grid">
					<div class="team-img">
						<img src="images/v1.jpg" class="img-responsive" alt=" " />
					</div>
					
				</div>
				<div class="col-md-6 team-grid">
					<div class="team-img">
						<img src="images/v2.jpg" class="img-responsive" alt=" " />
					</div>
				
				</div>

				<div class="clearfix"></div>
			</div>
		<div class="clearfix"> </div>
	</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //team -->


	</body>
	</html>