
<% content_for :for_head do %>
<title>Zoo Map</title>
 <style> .topcontainer {  background: url("../images/headerbgreen.png") center center no-repeat;}</style>
<% end %>
	
<body>
		


<!-- team -->
<!-- Testing -->
<div class="team" id="team">
		<div class="col-md-8 team-grid-text-agile">
			<div class="container">
			<div class="col-md-3 BGListAnimalTitle">
				<h3>Zoo Map</h3>
			</div>
			
			<div class="col-md-12 agile-team-grids GalleryAdjust">
				<div class="col-md-12 team-grid">
					<div class="team-img">
						<img src="images/map.png" class="img-responsive" alt=" " />
					</div>
				
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //team -->


</body>
</html>